
*unnamed-chunk-*
*.DS_Store

EssentialStatistics/EssentialStatistics.aux

EssentialStatistics/EssentialStatistics.bbl

EssentialStatistics/EssentialStatistics.log

EssentialStatistics/EssentialStatistics.pdf

EssentialStatistics/EssentialStatistics.synctex.gz

EssentialStatistics/EssentialStatistics.toc

EssentialStatistics/figure/
EssentialStatistics/Sweave.sty

EssentialStatistics/Sweavel.sty
.Rproj.user

*.out

EssentialStatistics/EssentialStatistics-concordance.tex
*.sty
EssentialStatistics/flo.bib
*.toc
*.gz
*.pdf
*.log
*.blg
*.Rhistory
*.aux

EssentialStatistics/GrundlagenDerStatistik-concordance.tex

EssentialStatistics/GrundlagenDerStatistik.bbl

*.html

EssentialStatistics/cache/
EssentialStatistics/EssentialStatistics_german_translation-concordance.tex

EssentialStatistics/EssentialStatistics_german_translation-concordance.tex

EssentialStatistics/EssentialStatistics_german_translation-concordance.tex
